$base-font: 'Gotham', sans-serif;

// App Palette
$app-light: #fff;

// Color Palettes
$primary: #232b67;
$secondary: #c32032;
$light-blue: #37657e;
$yellow: #ffd100;
$light-green: #7a853a;
$green: #235d38;

// Shadows
$shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
